<footer id="colophon" class="site-footer">
    <aside class="widget-area footer-widget-area four" role="complementary">
        <div class="wrapper">
            <div class="widget-column footer-widget-1">
                <section id="text-2" class="widget widget_text">
                    <div class="widget-wrap">
                        <h2 class="widget-title"></h2>
                        <div class="textwidget">
                            <p>Everything was seamless. The private guides were interesting</p>
                            <ul>
                                <li><i class="svg-icons"><svg class="icon icon-location" aria-hidden="true" role="img"> <use href="#icon-location" xlink:href="#icon-location"></use> </svg> </i>Aileen G Resort Danao, Panglao, Bohol, 6340 Philippines</li>
                                <li><i class="svg-icons"><svg class="icon icon-phone" aria-hidden="true" role="img"> <use href="#icon-phone" xlink:href="#icon-phone"></use> </svg> </i> +63 38 502 82 89
                                </li>
                                <li><i class="svg-icons"><svg class="icon icon-email" aria-hidden="true" role="img"> <use href="#icon-email" xlink:href="#icon-email"></use> </svg> </i> info@aileengresort.com</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <!-- .widget-area -->

            <div class="widget-column footer-widget-2">
                <section id="nav_menu-2" class="widget widget_nav_menu">
                    <div class="widget-wrap">
                        <h2 class="widget-title">Quick Links</h2>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li id="menu-item-2079" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2079"><a href="#masthead" aria-current="page">Home</a></li>
                                <li id="menu-item-2081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2081"><a href="#wp-travel-featured-trip-section">Featured Specials</a></li>
                                <li id="menu-item-2077" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2077"><a href="#quick_booking">Quick Booking</a></li>
                                <li id="menu-item-2078" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2078"><a href="#gallery-section">Gallery</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <!-- .widget-area -->


            <!-- .widget-area -->

            <div class="widget-column footer-widget-4">
                <section id="media_gallery-3" class="widget widget_media_gallery">
                    <div class="widget-wrap">
                        <h2 class="widget-title">Gallery</h2>
                        <div data-carousel-extra='{"blog_id":105,"permalink":"https:\/\/demo.wenthemes.com\/wen-travel-corporate-pro\/2020\/08\/24\/architecture\/"}' id='gallery-2' class='gallery galleryid-2027 gallery-columns-3 gallery-size-thumbnail'>
                            <figure class='gallery-item'>
                                <div class='gallery-icon landscape'>
                                    <a href='https://demo.wenthemes.com/wen-travel-corporate-pro/gallery/gallery-3/'><img data-attachment-id="6760" data-orig-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3.jpg" data-orig-size="666,666" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="gallery-3" data-image-description="" data-medium-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-300x300.jpg" data-large-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3.jpg"
                                            title="gallery-3" width="150" height="150" src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""
                                            loading="lazy" srcset="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-150x150.jpg 150w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-300x300.jpg 300w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-640x640.jpg 640w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3.jpg 666w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-80x80.jpg 80w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-50x50.jpg 50w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-580x580.jpg 580w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-3-120x120.jpg 120w"
                                            sizes="(max-width: 150px) 100vw, 150px" /></a>
                                </div>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon landscape'>
                                    <a href='https://demo.wenthemes.com/wen-travel-corporate-pro/gallery/gallery-1/'><img data-attachment-id="6758" data-orig-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1.jpg" data-orig-size="666,666" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="gallery-1" data-image-description="" data-medium-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-300x300.jpg" data-large-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1.jpg"
                                            title="gallery-1" width="150" height="150" src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""
                                            loading="lazy" srcset="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-150x150.jpg 150w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-300x300.jpg 300w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-640x640.jpg 640w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1.jpg 666w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-80x80.jpg 80w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-50x50.jpg 50w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-580x580.jpg 580w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-1-120x120.jpg 120w"
                                            sizes="(max-width: 150px) 100vw, 150px" /></a>
                                </div>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon landscape'>
                                    <a href='https://demo.wenthemes.com/wen-travel-corporate-pro/gallery/gallery-2/'><img data-attachment-id="6759" data-orig-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2.jpg" data-orig-size="666,666" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="gallery-2" data-image-description="" data-medium-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-300x300.jpg" data-large-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2.jpg"
                                            title="gallery-2" width="150" height="150" src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""
                                            loading="lazy" srcset="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-150x150.jpg 150w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-300x300.jpg 300w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-640x640.jpg 640w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2.jpg 666w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-80x80.jpg 80w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-50x50.jpg 50w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-580x580.jpg 580w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-2-120x120.jpg 120w"
                                            sizes="(max-width: 150px) 100vw, 150px" /></a>
                                </div>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon landscape'>
                                    <a href='https://demo.wenthemes.com/wen-travel-corporate-pro/gallery/gallery-4/'><img data-attachment-id="6761" data-orig-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4.jpg" data-orig-size="666,666" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="gallery-4" data-image-description="" data-medium-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-300x300.jpg" data-large-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4.jpg"
                                            title="gallery-4" width="150" height="150" src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""
                                            loading="lazy" srcset="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-150x150.jpg 150w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-300x300.jpg 300w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-640x640.jpg 640w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4.jpg 666w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-80x80.jpg 80w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-50x50.jpg 50w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-580x580.jpg 580w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-4-120x120.jpg 120w"
                                            sizes="(max-width: 150px) 100vw, 150px" /></a>
                                </div>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon landscape'>
                                    <a href='https://demo.wenthemes.com/wen-travel-corporate-pro/gallery/gallery-5/'><img data-attachment-id="6762" data-orig-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5.jpg" data-orig-size="666,666" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="gallery-5" data-image-description="" data-medium-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-300x300.jpg" data-large-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5.jpg"
                                            title="gallery-5" width="150" height="150" src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""
                                            loading="lazy" srcset="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-150x150.jpg 150w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-300x300.jpg 300w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-640x640.jpg 640w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5.jpg 666w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-80x80.jpg 80w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-50x50.jpg 50w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-580x580.jpg 580w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-5-120x120.jpg 120w"
                                            sizes="(max-width: 150px) 100vw, 150px" /></a>
                                </div>
                            </figure>
                            <figure class='gallery-item'>
                                <div class='gallery-icon landscape'>
                                    <a href='https://demo.wenthemes.com/wen-travel-corporate-pro/gallery/gallery-7/'><img data-attachment-id="6764" data-orig-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7.jpg" data-orig-size="666,666" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="gallery-7" data-image-description="" data-medium-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-300x300.jpg" data-large-file="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7.jpg"
                                            title="gallery-7" width="150" height="150" src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt=""
                                            loading="lazy" srcset="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-150x150.jpg 150w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-300x300.jpg 300w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-640x640.jpg 640w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7.jpg 666w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-80x80.jpg 80w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-50x50.jpg 50w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-580x580.jpg 580w, https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/06/gallery-7-120x120.jpg 120w"
                                            sizes="(max-width: 150px) 100vw, 150px" /></a>
                                </div>
                            </figure>
                        </div>
                    </div>
                </section>
            </div>
            <!-- .widget-area -->
        </div>
        <!-- .footer-widgets-wrapper -->
    </aside>
    <!-- .footer-widgets -->


    <div id="site-generator">

        <div id="footer-menu-section" class="site-footer-menu">
            <div class="wrapper">
                <nav id="social-footer-navigation" class="social-navigation" role="navigation" aria-label="Footer Social Links Menu">
                    <div class="menu-social-menu-container">
                        <ul id="menu-social-menu-6" class="social-links-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48"><a href="https://www.facebook.com"><span class="screen-reader-text">Facebook</span><svg class="icon icon-facebook" aria-hidden="true" role="img"> <use href="#icon-facebook" xlink:href="#icon-facebook"></use> </svg></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a href="https://twitter.com"><span class="screen-reader-text">Twitter</span><svg class="icon icon-twitter" aria-hidden="true" role="img"> <use href="#icon-twitter" xlink:href="#icon-twitter"></use> </svg></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="https://www.instagram.com"><span class="screen-reader-text">Instagram</span><svg class="icon icon-instagram" aria-hidden="true" role="img"> <use href="#icon-instagram" xlink:href="#icon-instagram"></use> </svg></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- .social-navigation -->
            </div>
            <!-- .wrapper -->
        </div>
        <!-- #footer-menu-section -->


        <div class="site-info">
            <div class="wrapper">&copy; 2022 Aileen G Resort <span class="sep"> | </span> Powered by AI TEAM</div>
        </div>
        <!-- .site-info -->
    </div>
    <!-- #site-generator -->
</footer>