<header id="masthead" class="site-header">
    <div id="header-top" class="header-top-bar ">
        <div class="wrapper">
            <button id="menu-toggle-top" class="menu-top-toggle menu-toggle" aria-controls="top-menu" aria-expanded="false">
                <svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg><svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg><span class="header-top-label menu-label">Top Bar</span>
            </button>
            <div id="site-header-top-menu" class="site-header-top-main">
                <div class="top-main-wrapper">
                    <!-- Header Top Left -->
                    <div class="header-top-left">
                        <ul class="contact-details">
                            <li class="contact-address"><svg class="icon icon-location" aria-hidden="true" role="img"> <use href="#icon-location" xlink:href="#icon-location"></use> </svg>+63 38 502 82 89
                            </li>
                            <li class="contact-address"><svg class="icon icon-location" aria-hidden="true" role="img"> <use href="#icon-location" xlink:href="#icon-location"></use> </svg>info@aileengresortsite.com
                            </li>
                            <li class="contact-address"><svg class="icon icon-location" aria-hidden="true" role="img"> <use href="#icon-location" xlink:href="#icon-location"></use> </svg>Aileen G Resort Danao, Panglao Bohol 6340 Philippines
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #header-top -->

    <div class="site-header-main">
        <div class="wrapper">

            <div class="site-branding">

                <div class="site-identity">
                    <h1 class="site-title"><a href="#" rel="home">Aileen G Resort</a></h1>
                    <p class="site-description">Find harmony in the Philippines</p>
                </div>
                <!-- .site-branding-text-->
            </div>
            <!-- .site-branding -->
            <div id="site-header-menu" class="site-header-menu">
                <div id="primary-menu-wrapper" class="menu-wrapper show-in-desktop">
                    <div class="menu-toggle-wrapper">
                        <button id="menu-toggle" class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
                        <span class="menu-label">Menu</span></button>
                    </div>
                    <!-- .menu-toggle-wrapper -->

                    <div class="menu-inside-wrapper">


                        <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
                            <ul id="primary-menu" class="menu nav-menu">
                                <li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-52"><a href="#site-header-main" aria-current="page">Home</a></li>
                                <li id="menu-item-6806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6806"><a href="#wp-travel-featured-trip-section">Featured Specials</a></li>
                                <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="#quick_booking">Quick Booking</a></li>
                                <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="#gallery-section">Gallery</a></li>
                            </ul>

                        </nav>
                        <!-- .main-navigation -->
                        <!-- .mobile-social-search -->
                    </div>
                    <!-- .menu-inside-wrapper -->
                </div>
                <!-- #social-search-wrapper.menu-wrapper -->
                <!-- .menu-wrapper -->

                <div id="primary-menu-wrapper" class="menu-wrapper show-in-mobile">
                    <div class="menu-toggle-wrapper">
                        <button id="menu-toggle-mobile" class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
                        <svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg><svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg><span class="menu-label">Menu</span></button>
                    </div>
                    <!-- .menu-toggle-wrapper -->

                    <div class="menu-inside-wrapper">


                        <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu">
                            <ul id="primary-menu" class="menu nav-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-52"><a href="#" aria-current="page">Home</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6806"><a href="#wp-travel-featured-trip-section">Featured Specials</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="#quick_booking">Quick Booking</a></li>
                                <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="#gallery-section">Gallery</a></li>
                            </ul>

                        </nav>
                        <!-- .main-navigation -->
                        <!-- .mobile-social-search -->
                    </div>
                    <!-- .menu-inside-wrapper -->
                </div>
                <!-- #primary-menu-wrapper.menu-wrapper -->
            </div>
            <!-- .site-header-menu -->
        </div>
        <!-- .wrapper -->
    </div>
    <!-- .site-header-main -->
</header>
<div class="custom-header header-media">
    <div class="wrapper">
        <div class="custom-header-media">
            <div id="wp-custom-header" class="wp-custom-header"><img src="https://demo.wenthemes.com/wen-travel-corporate-pro/wp-content/uploads/sites/105/2021/11/corporate-header-banner.jpg" /></div>
            <div class="custom-header-content sections header-media-section content-align-center text-align-center">
                <div class="custom-header-content-wrapper">

                    <div class="header-media-tagline" style="color: black;">Discover Aileen G Resort</div>

                    <div class="section-title-wrapper">
                        <h2 class="section-title" style="color: black;">Experience Luxury</h2>
                    </div>
                    <div class="site-header-text">
                        <p style="color: black;">Your Adventure begins here!</p>
                    </div>
                </div>
                <!-- .custom-header-content-wrapper -->
            </div>
            <!-- .custom-header-content -->
        </div>
    </div>
    <!-- .wrapper -->
    <div class="custom-header-overlay"></div>
    <!-- .custom-header-overlay -->
</div>
<!-- .custom-header -->